.search {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  align-items: center;
}
.search h2 {
  font-size: 30px;
}
.multiplePages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.mangaPage {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.numSelection {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.arrowActive {
  filter: invert(42%) sepia(66%) saturate(1584%) hue-rotate(206deg)
    brightness(99%) contrast(95%);
  cursor: pointer;
}
.input {
  padding: 10px;
  border: 2px gray solid;
  width: 60px;
}
.input:hover {
  border: 2px black solid;
}
.input:focus {
  outline: none;
}
.loading {
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #030000;
  opacity: 30%;
  align-self: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.notFoundPages {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
