@import "tailwindcss";

h1 {
  line-height: 1;
}

.body {
  background: #ffa0bd;
  color: #030000;
  background-color: #ffc1d3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 375;
  font-style: normal;
}

@theme {
  --font-yanone: "Yanone Kaffeesatz", sans-serif;
  --font-merri: "Merriweather", serif;
  --font-ibm: "IBM Plex Sans JP";
  --background-image-hero: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E")
    --animate-myAnimation: myAnimation 1s;
  --animate-blinkAni: blinkAnimation 1s;
  @keyframes myAnimation {
    0%,
    50%,
    100% {
      background-color: rgb(0, 0, 0);
    }
    25%,
    75% {
      background-color: rgb(24, 97, 185);
    }
  }

  @keyframes blinkAnimation {
    0%,
    50%,
    100% {
      background-color: #860707;
    }
    25%,
    75% {
      background-color: inherit;
    }
  }
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
input {
  border: 2px solid black;
  color: black;
  background-color: white;
}
input:focus {
  outline: none;
}
